/*
   Plugin Name:   Ratings FilmAffinity Widget
   Plugin URI:    http://giltesa.com
   Author:        Alberto Gil Tesa
   Author URI:    http://giltesa.com/sobre-mi/
   
   File:          admin-style.css
*/


.popup {
	height: 22px;
	margin: -32px 0px 0px 204px;
	position: absolute;
	width: 22px;	
}

.popup div.content {
	background: #F7F7F7;
	margin-top:21px;
	border: 1px solid #DFDFDF;
	border-radius: 0px 0px 0px 0px;
	-moz-border-radius: 0px 0px 0px 0px;
	-webkit-border-radius: 0px 0px 0px 0px;
	margin-left: -204px;
	padding: 10px;
	text-align: justify;
	visibility: hidden;
	z-index: 10;	
}

.popup:hover div.content {
	visibility:visible;
}

.widefat.rfwid{
	width: 90% !important; 
}

.rfwselect{
	width: 100%;
}

.popup div a img{
	display: block;
	margin-left: auto;
	margin-right: auto;
}