/*
   Plugin Name:   Ratings FilmAffinity Widget
   Plugin URI:    http://giltesa.com
   Author:        Alberto Gil Tesa
   Author URI:    http://giltesa.com/sobre-mi/
   
   File:          widget-style.css
*/


.user-info{
    /*background:yellow;*/
    max-width: 100%;
    padding-bottom: 5px;
    text-align: center;
    font-style:italic;
}

.user-info #user, .user-info #avg, .user-info #rated{
    display:inline-block;
    width: 30%;
}

.user-info #user a{
    text-decoration: none;
}


.films{
    padding: 3%;
    /*background:yellow;*/
}

.item{
    display: inline-block;
    height:auto;
    margin:0;
    padding:0;
    text-align: center;
    /*background:orange;*/
}

.t1x1, .t2x1{ width: 100%; }
.t1x2, .t2x2{ width: 48%; }
.t1x3, .t2x3{ width: 31%; }

.note{
    margin-bottom:6px;
    font: italic 900 0.9em/1.9em "Arial";
}

.popup {
    margin: 4px 0 -6px 0;
    /*background:red;*/
}

.content {
    position: absolute;
    width: 400px;
    padding: 10px;
    margin-left: -400px;
	background: #F7F7F7;
	border: 1px solid #DFDFDF;
	border-radius: 0px 0px 0px 0px;
	-moz-border-radius: 0px 0px 0px 0px;
	-webkit-border-radius: 0px 0px 0px 0px;
	text-align: justify;
	visibility: hidden;
	z-index: 10;	
   /* margin-top: -76px;*/
}

.popup:hover .content {
	visibility:visible;
}

.popup div.content h1{
    font-size: 1.4em;
    margin-bottom:15px;
}

.popup div.content img{
    float: left;
    margin-right: 10px;
}

.popup div.content p{
    margin:-5px 0 0 0;
}